<script>
import { getCurrentInstance } from "vue";

export default {
  setup() {
    const app = getCurrentInstance();
    // console.log(app.appContext.config.globalProperties.$store);
  },
  mounted() {
    // console.log(this.$store);
  },
  methods: {
    increment() {
      this.$store.dispatch("asyncIncrement", 100);
    },
  },
};
</script>

<template>
  <h2>
    <span>dispatch Counter2: {{ $store.state.count }}</span>
    <button @click="increment">+</button>
  </h2>
</template>
