<script setup>
import store from "../store";

const increment = () => {
  store.commit("increment", 10);
};
</script>

<template>
  <h2>
    <span>commit Counter1: {{ store.state.count }}</span>
    <button @click="increment">+</button>
  </h2>
</template>
