<script setup>
import Counter1 from "./components/Counter1.vue";
import Counter2 from "./components/Counter2.vue";
import store from "./store";

// root
const rootIncrement = () => store.commit("increment", 10);
const rootAsyncIncrement = () => store.dispatch("asyncIncrement", -10);

// // home
// const homeIncrement = () => store.commit("increment", 10);
// const homeAsyncIncrement = () => store.dispatch("asyncIncrement", -10);
// // home -> user
// const userIncrement = () => store.commit("increment", 10);
// const userAsyncIncrement = () => store.dispatch("asyncIncrement", -10);

// home
const homeIncrement = () => store.commit("homeIncrement", 10);
const homeAsyncIncrement = () => store.dispatch("asyncHomeIncrement", -10);
// home -> user
const userIncrement = () => store.commit("userIncrement", 10);
const userAsyncIncrement = () => store.dispatch("asyncUserIncrement", -10);
</script>

<template>
  <h1>TEST</h1>
  <hr />
  <h2>Store: {{ store.state.count }}</h2>
  <h2>Getter: {{ store.getters.getCount }}</h2>
  <Counter1 />
  <Counter2 />
  <hr />
  <hr />
  <hr />
  <h1>Modules</h1>
  <hr />
  <h2>
    root store: {{ store.state.count }}
    <button @click="rootIncrement">commit +</button>
  </h2>
  <h2>
    root getter: {{ store.getters.getCount }}
    <button @click="rootAsyncIncrement">dispatch -</button>
  </h2>
  <hr />
  <h2>
    home store: {{ store.state.home.count }}
    <button @click="homeIncrement">commit +</button>
  </h2>
  <h2>
    home getter: {{ store.getters.getHomeCount }}
    <button @click="homeAsyncIncrement">dispatch -</button>
  </h2>
  <hr />
  <h2>
    user store: {{ store.state.home.user.count }}
    <button @click="userIncrement">commit +</button>
  </h2>
  <h2>
    user getter: {{ store.getters.getUserCount }}
    <button @click="userAsyncIncrement">dispatch -</button>
  </h2>
  <hr />
</template>
